[Unit]
Description=Gunicorn server for {{ project_name }}
After=network.target

[Service]
User={{ project_name }}
Group={{ project_name }}
WorkingDirectory={{ install_root }}/{{ project_name }}
ExecStart=/usr/bin/gunicorn \
    --workers 3
    --bind 127.0.0.1:8000 \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    {{ wsgi_module }}:application

[Install]
WantedBy=multi-user.target
